/* Main Login Container */
.login-container,
.signup-container {
    background-color: #DEDEDE;
    padding: 0px;
    margin: 0px;
}

/* Main Login Container */

/* Login Stack Container That divides the UI into two section */
.login-stack-container,
.signup-stack-container {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Login Stack Container That divides the UI into two section */

/*-------------------------------- Image and Next Section --------------------------------*/
.image-section {
    height: 100%;
    position: fixed;
    top: 0px;
    align-items: center;
    justify-content: center;
    background-image: url('../public/Images//login-background.jpg');
    background-size: auto 150vh;
}

.login-stack-container .image-section {
    left: -2px;
    width: 60%;
}

.signup-stack-container .image-section {
    right: -2px;
    width: 40%;
}

.next-section {
    align-items: center;
    justify-content: center;
}

.login-stack-container .next-section {
    margin-left: 60vw;
    width: 40%;
}

.signup-stack-container .next-section {
    margin-right: 40vw;
    width: 60%;
}


/* Welcome banner */
.welcome-banner {
    padding: 40px 60px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}

/* Welcome banner */

/* Texts in Welcome Banner */
.display-text {
    font-weight: 700;
}

/* Texts in Welcome Banner */

/* Purple text */
.purple-text {
    color: #A789E5;
}

/* Purple text */
/*-------------------------------- Image and Next Section --------------------------------*/



/* 1200px */
@media screen and (max-width: 1250px) {
    .login-stack-container .image-section{
        width: 50%;
    }
    .login-stack-container .next-section {
        margin-left: 50vw;
        width: 50%;
    }

    .signup-stack-container .image-section {
        right: -2px;
        width: 30%;
    }
    .signup-stack-container .next-section {
        margin-right: 30vw;
        width: 70%;
    }

    .signup-container .welcome-banner {
        padding: 20px 30px;
    }
    .signup-container .caption-text {
        font-size: 0.8rem;
    }
    .signup-container .display-text {
        font-size: 1.5rem;
    }
}

/* 1000px */
@media screen and (max-width: 1000px) {
    .login-stack-container .image-section,
    .signup-stack-container .image-section {
        display: none;
    }
    .login-stack-container .next-section,
    .signup-stack-container .next-section{
        margin: 10px;
        width: 100%;
        min-height: 100vh;
    }
}