*,*::before,*::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Remove visibility icon for all input field with type password in MS Edge or IE */
input[type=password]::-ms-reveal{
    display: none;
}